<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список квартир</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('header') %>

   <% 
  const labels = {
    rooms: "Кімнат: ",
    area: "Площа (м²): ",
    floor: "Поверх: ",
    address: "Адреса: "
  };
%>
<% if (locals.currentUser) { %>
  <a href="/apartment/create">
    <button class="createBtn">+ Додати оголошення</button>
  </a>
<% } %>
  
  <h1>Каталог квартир</h1>

  <div class="page-wrapper">


    <main class="main-content">
        <div class="controls">
            <div class="filter">
                <label for="sortSelect">Сортувати:</label>
                <select id="sortSelect">
                    <option value="asc">Від дешевих до дорогих</option>
                    <option value="desc">Від дорогих до дешевих</option>
                </select>
            </div>

            <div class="filter">
                <label for="sortRooms">Кількість кімнат:</label>
                <input id="sortRooms" placeholder="Напр. 2">
            </div>

            <button id="applyFilters" class="applyBtn">Застосувати</button>
        </div>

      <div id="product-list" >
        <ul>
          <% apartments.forEach((apart) => { %>
            <a href="/apartment/<%=apart.apartmentId%>" class="productClicked" data-id="<%=apart.apartmentId%>"><li class="card">
              <strong><%= apart.title %></strong>
              <strong class="price">Ціна: <%= apart.price %> грн</strong>
              <p>Опис: <%= apart.description.fullText %></p>
              <ul>
                <%for(let key in apart.params){
                  %>
                  <li>
                    <strong><%=labels[key]%>:</strong><%=apart.params[key]%>
                  </li>
                  <%
                }%>
              </ul>
            </li></a>
          <% }) %>
        </ul>
      </div>
      <div id="pagination"></div>
    </main>
  </div>

  <%- include('footer') %>



  <script src="/scripts.js"></script>



</body>
</html>